
:root {
  --1: #1D3B31;
  --2: #17614A;
  --3: #156E52;
  --4: #16946C;
  --5: #56B899;
  --6: #04DE54;
  --7: #119C44;
  --8: #119E55;    

  --kanit: 'Kanit', sans-serif;
  --bodoni: 'Libre Bodoni', serif;
  --major: 'Major Mono Display', monospace;
  --outfit: 'Outfit', sans-serif;
  --playfair: 'Playfair Display', serif;
  --prata: 'Prata', serif;
  --roboto: 'Roboto Mono', monospace;
  --secular: 'Secular One', sans-serif;
  --unifraktur: 'UnifrakturCook', cursive;

  --prj-height: 380px;
}


html, body {
  background: var(--1);
  color: var(--4);
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.app-wrapper {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.title {
  font-family: var(--bodoni);
  font-size: 10em;
  color: var(--8);
}

.emoji {
  font-size: 3em;
  margin-top: 7px;
}

.subtitle {
  font-family: var(--kanit);
  font-size: 3em;
}

span {
  color: var(--6);
}

.inView {
  animation: spread 1.3s forwards;
}

@keyframes spread {
  0% { margin-left: 0px; margin-right: 0px ;}
  100% { margin-left: 15px; margin-right: 15px ;}
}