

.navbarWrapper {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
    width: min-content;
    padding: 6vh 40px;
}

.navbarContainer {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.navbarBtn {
    display: flex;
    flex-direction: column;
    color: var(--8);
    font-size: 1.1em;
}

.navActive {
    font-weight: bolder;
}

.navbarSocials svg {
    color: var(--6);
    font-size: 1.6em;
    stroke-width: 1px;
}

.navbarBtn, .navbarSocials {
    cursor: pointer;
}