
:root {
  --1: #1D3B31;
  --2: #17614A;
  --3: #156E52;
  --4: #16946C;
  --5: #56B899;
  --6: #04DE54;
  --7: #119C44;
  --8: #119E55;
}


html, body {
  background: var(--1);
  color: var(--4);
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.app-wrapper {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

span {
  color: var(--6);
}